<html>
	<head>
		<meta charset="UTF-8">
	       	<title>University of Waterloo Game Dev Club </title>
		{% include 'home/headTemplate.html' %}	
	</head>
	<body>
		{% include 'home/navbar.html' %}
		<div class="container-fluid">
			<div class="row" style="min-height:100%">
				{% include 'home/verticalNav.html' %}
				<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
					<h1> Contact Us</h1>
						<div>
							<h4><a href="https://discord.gg/z7XMSPt">Discord</a></h4>
							<p>Join our discord for discussion with other club members and information on upcoming talks/events. Feel free to message our execs here or post any questions or suggestions in the appropriate channels</p>
						</div>
						<div>
							<h4><a href="https://www.facebook.com/groups/298486077021523/">Facebook</a></h4>
							<p>
								Stay up do date on club information through our facebook group
							</p>
						</div>
						<div>
							<h4><a href="mailto:uw.gamedevclub@gmail.com">Email</a></h4>
							<p>If you have any questions or concerns you'd like to send to our executives, you can reach them at our club email above.</p>


						</div>	
				</div>
			</div>
		</div>	
	</body>
</html>
