{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>University of Waterloo Game Dev Club</title>
		{% include 'home/headTemplate.html' %}
	</head>
	<body>
		{% include 'home/navbar.html' %}
		<div class="container-fluid">
			<div class="row" style="min-height:100%">
				{% include 'home/verticalNav.html' %}
				<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
				<h1> Direction To Meetings</h1>	
				<p>Looking to join us at the Games Institute? Great! Follow these instructions to find it in East Campus 1.</p>
				<p>EC1 is listed on the campus map in the extreme upper right edge of campus</p>
				<img src="{% static 'home/campus.png' %}">
				<p>You're looking for the door right here (as show from Google satellite view</p>
				<div id="map">
					<img frameborder="0" style="border:0" src="https://www.google.com/maps/api/staticmap?center=43.475869,-80.539864&zoom=18&size=200x200&maptype=satellite&markers=size:tiny:|color:blue|label:A|43.475869,-80.539864&key=AIzaSyAtl6kdNYkkS5hyDH7iQfi92IA2NGifS08" allowfullscreen>
				</div>	
				<p>If you're still a bit confused how to get there, try to follow these steps. Or, contact us at <a href="mailto:uw.gamedevclub@gmail.com">uw.gamedevclub@gmail.com</a></p>
				<ol>
				<li>
					<p>Start outside DC facing the bus stops</p>
					<img src="{% static 'home/step1.jpg' %}">
				</li>
				<li>
					<p>Head to the left and pass over the train tracks</p>
					<img src="{% static 'home/step2.jpg' %}">
				</li>
				<li>
					<p>Find the building closest to the two major roads to the north and east of you. It's going to look like this</p>
					<img src="{% static 'home/step3.jpg' %}">
				</li>
				<li>
					<p>Enter via the ominous door</p>
					<img src="{% static 'home/step4.jpg' %}">
				</li>
				<li>
					<p>Have fun!</p>
				</li>
				</ol>
			</div>
		</div>
	</body>
	<script>
		function initMap(){
			var uluru = 

</html>
