{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, target-densityDpi=device-dpi">
	<link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'home/navbar.css' %}"/>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="{% static 'home/bootstrap.js' %}"></script>

