{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>University of Waterloo Game Dev Club</title>
	{% include 'home/headTemplate.html' %}
</head>
<body>
	{% include 'home/navbar.html' %}
	<div class="container-fluid">
	<div class="row" style="min-height:100%">
		{% include 'home/verticalNav.html' %}
		<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
		<h1> Learn. Create. Explore.</h1>
		<p class="lead">
		Join our community of game developers - from artists, to designers, to play testers - Thursdays at 6pm in the GI Collaboration Space. We hold tutorials, play and discuss games, and hold other events on video, board, card, and role-playing games. No previous game dev experience required.

		We also have space (and players) if you want to play test your own game. You can also participate in one of the club's projects, learn how to start your own, or just kick back after classes with other game lovers.
		</p>
		<div>
			<h4>LEARN Event 2018</h4>
			<p class="lead">The LEARN event is a free to attend series of talks and tutorials on game making and game desgin, no prior experience required. The LEARN event takes place on January 20th and 21st in QNC 2502 starting at 9am both days and is free to attend. For details on which talks are happening at what time, reference the calender below.</p>
			<p class="lead">If you are planning to participate in the Blender, Unity or Unreal tutorials please download the software prior to attending. Download links can be found here:</p>
			<ul>
				<li><p><a href="https://www.blender.org">Blender</a></p></li>
				<li><p><a href="https://unity3d.com">Unity</a></p></li>
				<li><p><a href="https://www.unrealengine.com/en-US/what-is-unreal-engine-4">Unreal Engine</a></p></li>
			</ul>
		</div>
		<div>
			<h4>
				Sign Up For Our Mailing List
			</h4>
				<form action="//uwaterloo.us11.list-manage.com/subscribe/post?u=f939182d04c769c076b58a84b&amp;id=2335dd7531" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="e-mail address" autocomplete="off"/>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
</form>
			
		</div>
		<div class="d-none d-sm-block">
		<iframe src="https://calendar.google.com/calendar/embed?src=80ar36dhg37vskmhd4gjb2els4%40group.calendar.google.com&ctz=America%2FToronto" style="border: solid 1px #777" width="80%" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="d-sm-none">
		<iframe src="https://calendar.google.com/calendar/embed?src=80ar36dhg37vskmhd4gjb2els4%40group.calendar.google.com&ctz=America%2FToronto&amp;mode=AGENDA" style="border: solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
		</div>
	</div>
	</div>
</body>

</html>
