	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand mr-auto" href="{% url 'home:index' %}"><h2 data-toc-skip class="club-name-sub">University of Waterloo</h2><h1 data-toc-skip class="club-name">Game Development Club</h1></a>
		<ul class="navbar-nav ml-auto">
			<li>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-lable="Toggle navigation"><span class="navbar-toggler-icon"></span>
				</button>
			</li>
		</ul>
		</div>
	</nav>
	<div class="collapse" id="navbarMobile">
		<ul class="navbar-nav bg-dark mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home:index' %}">Home</a>
				<a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a>
				<a class="nav-link" href="{% url 'home:directions' %}">Directions</a>
				<a class="nav-link" href="{% url 'wiki:index' %}">Skills Wiki</a>
				<a class="nav-link" href="{% url 'home:showcase' %}">Project Showcase</a>
				<a class="nav-link" href="{% url 'home:project' %}">Club Project</a>
				<a class="nav-link" href="{% url 'home:links' %}">Useful Links</a>
			</li>
		</ul>
	</div>
