{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>University of Waterloo Game Dev Club</title>
	{%	include 'home/headTemplate.html' %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
	<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>
</head>
<body data-spy="scroll" data-target="#toc">
	{% include 'home/navbar.html' %}
	<div class="container-fluid">
	<div class="row" style="min-height:100%">
		{% include 'home/verticalNav.html' %}
		<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" id="tocDiv" style="position:sticky;"> 
			<div class="affix">
		
			<nav id="toc" data-toggle="toc"></nav>
			</div>
		</div>
		<div class="col-10 col-sm-6 col-md-6 col-lg-7 col-xl-7">
			<h1 data-toc-skip>Getting Started With Pocket Pirates</h1>
				<p>
					Welcome to the Pocket Pirates project. This guide is to help you get started with working on Pocket Pirates. If you have not already gotten access to the Gitlab repository please send an application <a href="{% url 'home:project' %}"> here</a>.
				</p>
			<h2>Cloning The Pocket Pirates Repository</h2>
				<p>
					This project uses Git for version control, if you do not have a Git utility installed we recommend Sourcetree, which you can download <a href="https://www.sourcetreeapp.com/download-archives">here</a>. If you are new to git entirely we recommend <a href="https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud">Atlassian's tutorial on Git</a>.
				<ol>
					<li>
						Navigate to the <a href="https://gitlab.com/UniversityOfWaterlooGameDevelopmentClub/PocketPirates">Pocket Pirates Gitlab page</a>.
					</li>
					<li>
						Clone the source url given on the Gitlab page, if using Sourcetree select the destination path as where you want Pocket Pirates to be installed. 
					</li>
					<li>
						Ensure that the Pocket Pirates files are installed in your new git repo.
					</li>
				</ol>
				</p>
			<h2>Opening Pocket Pirates In Unity</h2>
				<p>
					Make sure you have at least Unity 2017.3 installed. If you do not have the latest version installed you can download it <a href="https://store.unity.com/download?ref=personal">here</a>.
				</p>
				<ol>
					<li>
						Open Unity and click "Open" in the top right of the start sceen.
					</li>
					<li>
						Navigate to the directory you installed Pocket Pirates in, the select folder button should appear if it was set up correctly. Click the select folder button.
					</li>
					<li>
						If Unity warns about non-matching editor versions, click continue, it will port the project to the latest verion
					</li>			
					<li>
						Try opening a stable scene and run to make sure everything is loaded correctly
					</li>
			</ol>
			<h2>Working On Pocket Pirates</h2>
				<p>
					Pocket Pirates uses a style guide, so please reference this before making any changes to the project. We also use Git Workflow for Pocket Pirates, if you do not know what Git Workflow is please check <a href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow">here</a>.
				</p>
			<h2 id="New-Feature">Working On A New Feature</h3>
				<p>
					Reference these steps if you are starting a new feature for Pocket Pirates
				</p>
				<ol>
					<li>
						Create a new branch, title this branch descriptively (IE: If you are working on implementing a new bomb powerup, for expample, name your branch "BombPowerup"). In SourceTree click the branch button and enter your branch name, leave the other options on their defaults. Then click create branch, you will now be on your new branch.
					</li>
					<li>
						Edit the project with your new changes, remember to commit to your branch whenever you've got new additions stable. To commit in Sourcetree, click the commit button. Begin by staging new files you've added to the project. You can do this by selecting the new file in the unstaged section of the commit screen and clicking stage selected. Next type a commit message in the box at the bottom of the screen. This message should detail exactly what your commit changess. Finally once your commit is ready, press "Commit" in the bottom right.
					</li>
					<li>
						Once you're finished commiting, you should push to your feature branch. To do this in Sourcetree click push. Select the checkbox next to the branch for your feature, and then click Push at the bottom of the dialog.
					</li>
					<li>
						If your feature is finished, see the section "Tying Up Your New Feature" for how to submit a merge request.
					</li>
				</ol>
			<h2 id="Helping-With-Existing-Features">Helping With Existing Features</h3>
				<p>
					Reference this if you are working on a branch that already exists
				</p>
				<ol>
					<li>
						First make sure you fetch all changes to the repo. In Sourcetree do this by clicking fetch.A dialog will show up, leave the options on their defaults and click ok. 
					</li>
					<li>
						Next checkout the branch you would like to work on. To do this in Sourcetree, open the list of branches on the left panel and right click the branch you would like to work on. Click the option checkout branch and click ok.
					</li>
					<li>
						Pull the current branch to get all the changes so far. To do this in Sourcetree click the pull button. If the button has a number beside it, that is the number of commits that are not on your branch. In the pull dialog, make sure the remote branch is set to the branch you want to pull, then click ok.
					</li>
					<li>
						Make changes to the project in Unity, try to coordinate with others not to work on the same files, otherwise a merge will be required. Remember to commit to your branch whenever you've got new additions stable. To commit in Sourcetree, click the commit button. Begin by staging new files you've added to the project. You can do this by selecting the new file in the unstaged section of the commit screen and clicking stage selected. Next type a commit message in the box at the bottom of the screen. This message should detail exactly what your commit changess. Finally once your commit is ready, press "Commit" in the bottom right.
					</li>
					<li>
						Once you're finished commiting, you should push to your feature branch. To do this in Sourcetree click push. Select the checkbox next to the branch for your feature, and then click Push at the bottom of the dialog.
					</li>
					<li>
						If your feature is finished, see the section "Tying Up Your New Feature" for how to submit a merge request.
					</li>
				</ol>
			<h2>Tying Up Your New Feature</h2>
			<p>
				Once your feature is finished and tested, now it is time to make a merge request.
			</p>	
			<ol>
				<li>
					Navigate to the Pocket Pirates Gitlab and click the Merge Requests tab.
				</li>
				<li>
					Click the green button labeled "New merge request"
				</li>
				<li>
					In the Select source branch dropdown, select the branch for your feature, make sure the target branch is master. Once done, click the Compare branches button.
				</li>
				<li>
					In the description type a summary of changes your feature makes. If you think there is anyone in particular you'd like to review your code, select them in the Assignee dropdown. Once finished, click the Submit merge request button.
				</li>
				<li>
					Congratulations! Someone will review your code, and if it functions properly and adheres to standards it will be added to the master branch of Pocket Pirates.
				</li>
			</ol>
		</div>
	</div>
	</div>
</body>
</html>
