{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>University of Waterloo Game Dev Club</title>
	{% include 'home/headTemplate.html' %}
</head>
<body>
	{% include 'home/navbar.html' %}
	<div class="container-fluid">
	<div class="row" style="min-height:100%">
		{% include 'home/verticalNav.html' %}
		<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
			<h1>
				Club Project
			</h1>
			<p>
			   Our club runs community projects throughout the term that anyone can contribute to. The current projects are Pocket Pirates and The Lower City.
			</p>
			<div>
				<h2>
					Pocket Pirates
				</h2>
				<div>
					<h4>
						About
					</h4>
					<p>
						Pocket Pirates is a 2D top down team space fighter featuring drop-in, drop-out local network play.   
					</p>
				</div>
				<div>
					<h4>
						How To Contribute
					</h4>
					<p>
						To contribute to Pocket Pirates please fill in the application form below. We host Pocket Pirates through GitLab so we require you to have a gitlab account in order to contribute. 
					</p>
					<p>
						Once you have access to the project, instructions on how to contribute to the project can be found <a href="{% url 'home:pphowto' %}"> here </a>
					</p>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					<form action="{% url 'home:apply' %}" method="post">{% csrf_token %}
						<label for="Name">Full name:</label><br>
						<input type="text" name="Name"/><br>
						<label for="Watiam">Watiam:</label><br>
						<input type="text" name="Watiam"/><br>
						<label for="GLUserName">GitLab Username:</label><br>
						<input type="text" name="GLUserName"/><br>
						<input type="submit" value="Submit"/>
					</form>
				</div>	
			</div>
			<h2>
				The Lower City
			</h2>
			<div>
				<h4>
					About
				</h4>
				<p>
					The Lower City is a table-top role-playing game based off of FATE. It is set in a dystopian future, among the crumbling slums created by the apathy of a larger society.
				</p>
			</div>
			<div>
				<h4>
					How To Contribute
				</h4>
				<p>
					To contribute to The Lower City attend Game Dev Club meetings and ask execs on how you can help.
				</p>
			</div>
		</div>
	</div>
	</div>	
</body>
</html>
