{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>University of Waterloo Game Dev Club</title>
	{% include 'home/headTemplate.html' %}
</head>
<body>
	{% include 'home/navbar.html' %}
	<div class="container-fluid">
	<div class="row" style="min-height:100%">
		{% include 'home/verticalNav.html' %}
		<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
			<h1>Games Made by UW Students</h1>
<div>
<p><a href="http://brwarner.itch.io/in-a-flash">In A Flash</a>: Brook Jensen, George Serban, Liam Gallagher, Marianne Jettè, Jessica "Yoshi" Yoshida</p>
<p><strong>GI Jam (May 2015)</strong></p><p>
<a href="https://invisible-locomotive.itch.io/mango-deathwish">Mango Deathwish</a>: Brook Jensen, Jonathan Semple, Liam Gallagher, Marianne Jettè, Ryan Tan</p>
<p><strong>GI Jam (January 2015)</strong></p>
<p><a href="https://globalgamejam.org/2015/games/snafu">SNAFU</a>: Jonathan Semple, Ryan Tan</p>
<hr />
<p><strong>GI Jam (September 2014)</strong></p>
<p><a href="http://studio.brwarner.net/pages/page-goingtodie.html">We're All Going to Die</a>: Brook Jensen, Jonathan Semple, Ryan Tan</p>
<p><strong>Global Game Jam (January 2014): "We don't see things as we are, we see them as we are"</strong></p>
<p><a href="http://globalgamejam.org/2014/games/bursting-colour"> Bursting With Colour</a>: Brad Keys, Matthew Miner &amp; Brent Mitchell<br />
<a href="http://globalgamejam.org/2014/games/chromaticaste"> Chromaticaste</a>: Sean Gilhuly &amp; Stephen Kiazyk<br />
<a href="http://globalgamejam.org/2014/games/crescimus-decrescimusque"> Crescimus decrescimusque</a>: Louis Burke<br />
<a href="http://globalgamejam.org/2014/games/project-x-0"> Fight! A Battle to the Death</a>: Omar Ali<br />
<a href="http://globalgamejam.org/2014/games/through-cracks">Through the cracks</a>: Jonathan Semple</p>
<hr />
<p><strong>Global Game Jam (January 2013): "The sound of a heart beat"</strong></p>
<p><a href="http://2013.globalgamejam.org/2013/heartwrenching-heartfelt-adventure-space"> A heartwrenching, heartfelt adventure in space</a>: Omar Ali<br />
<a href="http://2013.globalgamejam.org/2013/eat-your-heart-out-my-love">Eat your heart out, my love</a>: Jonathan Semple</p>
<hr />
<p><strong>Global Game Jam (January 2012): (<a href="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Ouroboros-simple.svg/200px-Ouroboros-simple.svg.png">image</a>)</strong></p>
<p><a href="http://globalgamejam.org/2012/eventuality"> Eventuality</a>: Chris Sturgess<br />
<a href="http://globalgamejam.org/2012/gluttony"> Gluttony</a>: Danny Yaroslavski<br />
<a href="http://globalgamejam.org/2012/ouroborous-chambers"> Ouroborous Chambers</a>: Omar Ali<br />
<a href="http://globalgamejam.org/2012/paradox-tower"> Paradox Tower</a>: Terrance Niechciol, Ian X<br />
<hr />
<p><strong>Paper Jam (November 2011): Murder (Love)</strong></p>
<p><a href="http://cosr.wordpress.com/paper-games/because-i-love-you/">Because I love you</a>: Jonathan Semple<br />
<a href="http://writer.brwarner.net/capitalists-hippies-a-were-cat-and-murder.html">Capitalists, Hippies, a Were-Cat and Murder</a>: Brook Jensen, Devin Gloyn</p>
<p><strong>Game Jam (October 2011): The Unknown</strong></p>
<a href="http://cosr.wordpress.com/games/untitled-no-1/">Untitled no.1</a>: Jonathan Semple<br />
<a href="http://csclub.uwaterloo.ca/~uwgdc/games/snake.zip">Snake</a>: Omar Ali</p>
<p><strong>Community Jam (July 2011): Jenny’s Dad, The City, and Hidden Problems</strong></p>
<p><a href="http://csclub.uwaterloo.ca/~uwgdc/games/jennysdad.swf"> Jenny’s Dad</a>: Sherban Gaciu, Brook Jensen, Theodore Pan, Jonathan Semple, Jun Zhang</p>
<p><strong>Paper Jam (March 2011): Travel (Depression)</strong></p>
<p><a href="http://cosr.wordpress.com/paper-games/everything-ends-with-cannibalism-and-you-leaving-me/">everything ends with cannibalism (and you leaving me)</a>: Jonathan Semple</p>
<p><strong>Global Game Jam (February 2011): Extinction</strong></p>
<p><a href="http://globalgamejam.org/2011/world-will-end"> This World Will End</a>: Alex Hughes<br />
			</div>
		</div> 
	</div>
	</div>
	</div>
</body>
</html>

