{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>University of Waterloo Game Dev Club</title>
	{% include 'home/headTemplate.html' %}
</head>
<body>
	{% include 'home/navbar.html' %}
	<div class="container-fluid">
	<div class="row" style="min-height:100%">
		{% include 'home/verticalNav.html' %}
		<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
			<h1>
				Unity UFO Tutorial Prep
			</h1>	
			<p>Below are the preperation steps for the Unity UFO tutorial<p>
			<h4>On Unity Website:</h4>
			<ol>
				<li>Download and install <a href="https://store.unity.com/download?ref=personal">Unity 2017.3</a></li>
				<li>Go to <a href="https://www.assetstore.unity3d.com/en/#!/content/52143">https://www.assetstore.unity3d.com/en/#!/content/52143</a></li>
				<li>Click "Add to downloads"</li>
				<li>Click "Open in Unity"</li>
			</ol>
			<h4>In Unity:</h4>
			<ol start="5">
				<li>
					Click "New" button to create a new project
					<ul>
						<li>Fill in the following information</li>
						<li>Project name: UFO Tutorial</li>
						<li>Location: (Select a place for your project)</li>
						<li>Select 2D</li>
					</ul>
				</li>
				<li>
					Unity will open with Asset Store tab open
					<ul>
						<li>Scroll down and click "Download" (will be "Import" if you have downloaded this package before)</li>
						<li>Click "Accept"</li>
						<li>Click "Import"</li>
						<li>Make sure all checkboxes are checked and click "Import"</li> 
					</ul>
				</li>
				<li>
					In Unity click "File" -&gt;"Save Scene"
					<ul>
						<li>Create a new folder named "Scenes" in the Assets folder (Assets should be the default save directory)</li>
						<li>Save scene with filename "Main"</li>
					</ul>
				</li>
				<li>In Unity click "File" -&gt;"Save Project"</li>
			</ol>
		<p>Now you're ready for the tutorial<p>
		</div>	
	</div>
	</div>
</body>
</html>
