<html>
	<head>
		<meta charset="UTF-8">
		<title>University of Waterloo Game Dev Club</title>
		{% include 'home/headTemplate.html' %}	
	</head>
	<body>
		{% include 'home/navbar.html' %}
		<div class="container-fluid">
			<div class="row" style="min-height:100%">
				{% include 'home/verticalNav.html' %}
				<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
					<h1>Useful Links</h1>
					<p>Below is a list of useful links related to software and tools for game development</p>
					<h4>Game Creation Software</h4>
					<p><a href="https://scratch.mit.edu">Scratch</a></p>
					<p><a href="http://www.stencyl.com">Stencyl</a></p>
					<p><a href="https://www.yoyogames.com/gamemaker">Gamemaker Studio 2</a></p>
					<p><a href="http://www.cocos2d-x.org">Cocos2D</a></p>
					<p><a href="https://unity3d.com">Unity 2D & 3D</a></p>
					<p><a href="https://www.unrealengine.com/en-US/what-is-unreal-engine-4">Unreal Engine</a></p>
					<h4>2D Art Tools</h4>
					<p><a href="https://www.piskelapp.com">Piskel</a></p>
					<p><a href="https://www.aseprite.org">Aseprite</a></p>
					<p><a href="https://graphicsgale.com/us/">GraphicsGale</a></p>
					<p><a href="https://www.gimp.org">GIMP</a></p>
					<p><a href="https://www.adobe.com/ca/products/photoshop.html?sdid=KKQIN&mv=search&
s_kwcid=AL!3085!3!226997989086!e!!g!!photoshop&ef_id=V9fsQQAABPU5gtcy:
20171026165804:s">Photoshop</a></p>
					<p><a href="https://www.cosmigo.com">Pro Motion NG</a></p>
					<h4>3D Art Tools</h4>
					<p><a href="https://www.maxon.net/en/">Cinema 4D</a></p>
					<p><a href="https://www.autodesk.ca/en/products/maya/subscribe?AID=12797027&PID=820
6971&SID=jkp_CKDKldjhjtcCFe66swod_4UOGw&gclsrc=ds&mktvar002=afc_ca_n
mpi_ppc&ds_rl=1245494&gclid=CKDKldjhjtcCFe66swod_4UOGw&plc=MAYA&ter
m=1-YEAR&support=ADVANCED&quantity=1">Maya</a></p>
					<p><a href="https://www.blender.org">Blender</a></p>
					<p><a href="https://www.autodesk.ca/en/products/3ds-
max/subscribe?AID=12797027&PID=8206971&SID=jkp_COHiu5XijtcCFX26swodPg
UHEA&gclsrc=ds&mktvar002=afc_ca_nmpi_ppc&gclid=COHiu5XijtcCFX26swodPg
UHEA">3DS Max</a></p>
					<h4>Sound/Music</h4>
					<p><a href="https://freesound.org">FreeSound</a></p>
					<p><a href="http://freemusicarchive.org">FeeMusicArchive</a></p>
					<p><a href="http://www.audacityteam.org">Audacity</a></p>
					<p><a href="https://www.bfxr.net">Bfxr</a></p>
					<p><a href="https://www.fmod.com">FMOD</a></p>
					<p><a href="https://www.steinberg.net/en/products/cubase/start.html">Cubase</a></p>
					<h4>Interactive Writing</h4>
					<p><a href="http://twinery.org">Twine</a></p>
					<p><a href="http://www.rpgmakerweb.com">RPG Maker</a></p>
					<h4>Other Tools</h4>
					<p><a href="https://opengameart.org">OpenGamesArt</a></p>
					<p><a href="http://www.mapeditor.org">Tiled</a></p>
				</div>
		</div>
	</body>
</html>
