<div class="d-none d-sm-block col-sm-3 col-md-3 col-lg-2 col-xl-2 bg-light">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'home:index' %}">Home</a>
					<a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a>
					<a class="nav-link" href="{% url 'home:directions' %}">Directions To Meetings</a>
					<a class="nav-link" href="{% url 'wiki:index' %}">Skills Wiki</a>
					<a class="nav-link" href="{% url 'home:showcase' %}">Project Showcase</a>
					<a class="nav-link" href="{% url 'home:project' %}">Club Project</a>
					<a class="nav-link" href="{% url 'home:links' %}">Useful Links</a>
				</li>
			</ul>
		</div>

