@font-face{
font-family:Roboto;
src: url('./fonts/Roboto-Light.ttf');
}

@font-face{
	font-family:BebasNeue;
	src: url('./fonts/BebasNeue-Regular.otf');
}

@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}

	.sidebar-nav .navbar ul{
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li{
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}



.club-name{
	font-size:30px;
	font-weight:400;
	text-transform: uppercase;
	font-family: "BebasNeue";
	display: block;
	overflow-wrap:break-word;
}

.club-name-sub{
	font-family: "BebasNeue";
	overflow-wrap:break-word;
	text-transform: uppercase;
	font-size:15px;
	font-weight: 400;
	line-height: 80%;
}

body{
	font-family:"Roboto";
}

.lead{
	padding-top:10px;
}

.nav-link{
	color: #2A2929;
}

a:hover{
	text-decoration: none;
}	

#navbarMobile> ul> li>a{
	padding-left:20px;
	color:white;
}

@media only screen and (min-width: 600px){
	.club-name{
		font-size:40px;
	}

	.club-name-sub{
		font-size:30px;
	}
}

h1{
padding-top:20px;
}
