@font-face
{
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}

@font-face
{
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.otf);
}

aside
{
    float: right;
    width: 25%;
    height: 100%;
    margin-top: 0;
    margin-left: 20px;
}

html, body
{
  height: 100%;
  font-family: "Roboto";
  font-size: 14pt;
  background-color: #f8f8f8;
  color: #2a2929;
}

h1, h2, h3, h4
{
  font-family: "BebasNeue";
  font-weight: normal;
}

h1.title, h2.title-prefix
{
  margin: 0;
  padding: 0;
}

.title-prefix
{
  font-size: 30pt;
}

.title
{
  font-size: 72pt;
}

.main-content
{
  padding-top: 20px;
  padding-left: 7%;
}

h2
{
  padding-top:20px;
}

h3
{
  font-size: 18pt;
}

article
{
  max-width: 750px;
}

article.index
{
  text-align: justify;
}

article.index p
{
  margin-top: 0;
}

article.index a
{
  text-decoration: none;
  color: blue;
}

input
{
  background-color: #4c4c4c;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

input[type=submit]:hover
{
  background-color: grey;
}

article img[alt=small]
{
    width: 150px;
}

article img[alt=medium]
{
    width: 300px;
}

strong.heading
{
  text-decoration: none;
  font-weight: normal;
  font-size: 18pt;
}

aside nav ul
{
  list-style: none;
  padding-left: 0;
  font-size: 14pt;
  margin-top: 0;
}

aside a
{
  text-decoration: none;
  color: inherit;
}

aside a:visited
{
  color: inherit;
}

aside a:hover
{
  color: blue;
}

a.header
{
  text-decoration: none;
  color: inherit;
}

article h4
{
  margin-bottom: 0;
}

article p
{
  margin-top: 0;
}
