<html>
	<head>
		<meta charset="UTF-8">
		<title>University of Waterloo Game Dev Club</title>
		{% include 'home/headTemplate.html' %}
	</head>
	<body>
		{% include 'home/navbar.html' %}
		<div class="row" style="min-height:100">
			{% include 'home/verticalNav.html' %}
			<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
				<h1>{{member.name}}</h1>
				<p>Contact:</p>
				{% if member.email != "N/A" %}
					<p>Email: <a href="mailto:{{member.email}}">{{member.email}}</a></p>
				{% endif %}
				{% if member.discord != "N/A" %}
					<p>Discord: {{member.discord}}</p>
				{% endif %}
				<p>Skills:</p>
				<ul>
					{% for skill in member.skills.all %} 
					<li>{{skill.skill_Name}}</li>
					{% endfor %}
				</ul>
			</div>	
		</div>	
	</body>
</html>
