{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>University of Waterloo Game Dev Club</title>
		{% include 'home/headTemplate.html' %}
		<script src="{% static 'wiki/sortSwitch.js' %}"></script>
	</head>
	<body>
		{% include 'home/navbar.html' %}
		<div class="container-fluid">
			<div class="row" style="min-height:100%">
				{% include 'home/verticalNav.html' %}
				<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
					<h1>Skills Wiki </h1>
					<p>This is a directory of club members who are willing to help mentor in  skills to people interested</p>
					<form>
					{% if memberList %}
					<label>Sort by:</label>
					<select id="sort" onChange="changeSort()">
						<option value="Members">Members
						</option>
						<option value="Skills">Skills
						</option>
					</select>
					</form>
					{% endif %}
					<div id="memberSort">
					{% if memberList %}
					<ul>
						{% for member in memberList %}
							<li>
								<p>
									<a href="{% url 'wiki:member' member.id %}">{{member.name}}</a>
								<ul>
									{% for skill in member.skills.all %}
									<li>{{skill.skill_Name}}</li>
									{% endfor %}
								</ul>
								</p>
							</li>
						{% endfor %}
					</ul>
					{% else %}
					There are no members volunteering skills mentorship right now
					{% endif %}
					</div>
					<div id="skillSort">
					{% if skillList %}
					<ul>
						{% for skill in skillList %}
						<li>
							<p>{{skill.skill_Name}}
							<ul>
								{% for member in skill.clubmember_set.all %}
								<li><a href="{% url 'wiki:member' member.id %}">{{member.name}}</a></li>
								{% endfor %}
							</ul>
							</p>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					</div>
				</div>
		</div>
	</body>
</html>

